env/
venv/
.idea/
*/.idea
*.sqlite
*/__pycache__
__pycache__
# Ignore PyCharm project files
.idea/

# Ignore Python cache files
__pycache__/
database/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache

# Ignore Notebooks
*.ipynb

backtest/utilities/database
